<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>

  <body>
    <!-- <h1>{{pageTitle}}</h1> -->
    {{> header}}
    <!-- <p>Hello, I'm {{name}}. Welcome to my Web page.</p> -->
    <p>Hello, I'm {{name}}. {{screamIt welcomeMsg}}</p>
    <p>Interests: {{likes}}</P>
    <!-- <footer>
      <p>Copyright {{currentYear}}</p>
    </footer> -->
    {{> footer}}
  </body>
</html>
